{% extends "layout.html" %}
{% block content %}
<div class="container mt-3">
    <h2>Informações do episódio:</h2>
    <div class="mt-3">
        <h5>Nome: {{ episode.name }}</h5>
        <h5>Data de Lançamento: {{ episode.air_date }}</h5>
        <h5>Código: {{ episode.episode }}</h5>
        <h5>Personagens presentes no episódio:</h5>
        <ul>
            {% for character in characters %}
                <li><a href="/profile/{{ character.id }}">{{ character.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
