{% extends "layout.html" %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3>Nome: "{{ location.name }}"</h3>
      <p>Tipo: "{{ location.type }}"</p>
      <p>Dimensão: "{{ location.dimension }}"</p>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-6">
      <h4>Lista de Personagens:</h4>
      <div class="card-deck">
        {% for character in characters %}
          <div class="card mb-3">
            <div class="card-body d-flex justify-content-between align-items-center">
              <h5 class="card-title mb-0">{{ character.name }}</h5>
              <a href="/profile/{{ character.id }}" class="btn btn-primary btn-sm">Ver Perfil do Personagem</a>
            </div>
          </div>
          {% if loop.index0 % 5 == 0 %}
            </div><div class="card-deck">
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
